@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Mulish:ital,wght@0,200;0,400;0,600;0,700;0,900;1,200;1,600&family=Poppins&display=swap');
.details {
    /* position: relative; */
    width: 100%;
    /* padding: 20px; */
    display: flex;
    
    grid-gap: 30px;
    /* margin-top: 10px; */
  }
  
  .details .recentOrders {
    position: relative;
    display: grid;
    /* min-height: 500px; */
    background:#FFF;
    width: 100%;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
  }
  
  .details .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .cardHeader h2 {
    /* font-weight: 600; */
    font-size: 18px;
    color: #000;
    font-family: 'Mulish Black', sans-serif;
  }
  .cardHeader .btnnn {
    position: relative;
    padding: 5px 10px;
    background: #F27900;
    text-decoration: none;
    color: #FFF;
    border-radius: 6px;
  }
  
  .details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  .details table thead td {
    font-weight: 600;
 
  }
  .details .recentOrders table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .details .recentOrders table tr:last-child {
    border-bottom: none;
  }
  /* .details .recentOrders table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
  } */
  .details .recentOrders table tr td {
    padding: 10px;
  }
  /* .details .recentOrders table tr td:last-child {
    text-align: end;
  }
  .details .recentOrders table tr td:nth-child(2) {
    text-align: end;
  }
  .details .recentOrders table tr td:nth-child(3) {
    text-align: center;
  } */
  .status.delivered {
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  .status.pending {
    padding: 2px 4px;
    background: #e9b10a;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  .status.return {
    padding: 2px 4px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  .status.inProgress {
    padding: 2px 4px;
    background: #1795ce;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  